body{
     margin: 0px;
     padding: 0px;
     background-color: #ffffff; 
     color: black; 
     width: 100%;
     height: 100%;
     overflow-x: hidden;
}
nav, main, section, article, aside{
     border: 8px solid #CC0000; 
     padding: 30px; 
     margin: 20px;
     background-color:#fbff1de0;
     color: #111; 
}
footer{
    padding: 15px;
    border: 8px solid #CC0000; 
    margin: 20px;
    background-color: #fbff1de0;
    color: #111;
    text-align: center; 
}
footer p{
     text-align:right;
     font-family: Arial, Helvetica, sans-serif; 
}
header{
    padding: 15px;
    border: 8px solid #CC0000; 
    margin: 20px;
    background-color: #fbff1de0;
    color: #111;
}
header:hover, nav:hover, main:hover, section:hover, article:hover, aside:hover, footer:hover {
     background-color: #e9e9e4; 
     border-color: #ffffff; 
     box-shadow: 0 0 20px rgba(228, 228, 227, 0.8);
     transition: all 0.3s ease;
     cursor: pointer;
}